.tool-bar {
  height: 80px;
  padding: 0;
  border-bottom: 1px black solid;
  text-align: center;
}

.icon-area {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 330px;
  min-width: 330px;
  background-color: rgb(225, 110, 55);
  color: white;
  align-items: flex-end;
  text-align:center;
}

.name {
  margin:  20px;
  padding: 0;
  /* height: 30%; */
  font-size: 18px;
  min-width: 30%;
}

.icon {
  height: 75%;
  margin: 8px;
}

/* .empty {
  height: 100%;
  max-width: 60%;
  width: px;
  margin: 0;
} */

.buttons {
  display: flex;
  margin: 0 20px;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

.img {
  position: absolute;
  /* overflow:visible; */
  top: 30px;
  right: 40px;
  height: 40px;
  margin: auto 50px;
}

.user-container {

}

.user {
  position: absolute;
  top: 20px;
  right: 150px;
  height: 40px;
  margin: auto 0;
  cursor: pointer;
}

.question {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 40px;
  margin: auto 0;
  cursor: pointer;
}

.info-window {
  position: absolute;
  top: 60px;
  right: 50px;
  z-index: 10;
}
