<div class="container">
  <div class="search" *ngIf="mode === 'resource'">
    <input type="text" placeholder="Keyword" [(ngModel)]="searchInput" class="search-input">
    <button class="button">
      <!-- <img src="assets/images/search.svg" alt="search" class="search-icon"> -->
      <mat-icon svgIcon="search" aria-hidden="false" aria-label="search SVG icon" class="icon"></mat-icon>
    </button>
  </div>
  <div class="name">
      <p>{{name}}</p>
  </div>
  <div class="buttons">

    <div class="plus-button-area" *ngIf="mode === 'resource'">
      <button class="button plus-button" (click)="onShowPlusSelections()">
          <mat-icon svgIcon="plus" aria-hidden="false" aria-label="add SVG icon" class="icon"></mat-icon>
      </button>
      <div class="plus-selections" *ngIf="showPlusSelections">
        <div><p>Add Row</p></div>
        <div><p>Add Column</p></div>
        <div><p>Import CSV</p></div>
      </div>
    </div>

    <div class="project-selection-area" *ngIf="mode === 'projectLeft'">
      <button class="button" *ngIf="mode === 'projectLeft'" (click)="onShowProjectSelections()">
        <mat-icon svgIcon="list" aria-hidden="false" aria-label="list SVG icon" class="icon"></mat-icon>
      </button>
      <div class="project-selections" *ngIf="showProjectSelections">
        <div class="project-selection"><input type="checkbox" name="selectAll"><span>Select all</span></div>
        <div class="project-selection"><input type="checkbox" name="clearSelection"><span>Clear selection</span></div>
      </div>
    </div>


    <button class="button" *ngIf="mode === 'projectLeft'">
      <mat-icon svgIcon="arrowRight" aria-hidden="false" aria-label="arrow right SVG icon" class="icon"></mat-icon>
    </button>

    <button class="button" *ngIf="mode === 'projectRight'">
      <mat-icon svgIcon="delete" aria-hidden="false" aria-label="delete SVG icon" class="icon"></mat-icon>
    </button>

  </div>
</div>
